{% extends 'Main/mainbase.html' %}

{% load static %}

{% block title %}Answer Sheet Correction{% endblock %}

{% block body %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="offset-lg-1 col-lg-5">
            <div class="card card-chart">
                <div class="card-header">
                <h5 class="card-category">Correct Answer Sheet</h5>
                <h4 class="card-title">Select Question</h4>
                <div class="dropdown">
                    <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret">
                    <i class="fas fa-question"></i>
                    </button>
                </div>
                </div>
                <div class="card-body">
                    <select class="custom-select" id="question" name="question">
                        {% for question in questions %}
                            <option value="{{question.id}}">{{question.question_text}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="col-lg-5">
            <div class="card card-chart">
                <div class="card-header">
                <h5 class="card-category">Correct Answer Sheet</h5>
                <h4 class="card-title">Upload PDF</h4>
                <div class="dropdown">
                    <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret">
                    <i class="fas fa-sticky-note"></i>
                    </button>
                </div>
                </div>
                <div class="card-body">
                    <div class="custom-file">
                    <input type="file" class="custom-file-input" id="file" accept=".pdf" name="file">
                    <label class="custom-file-label" for="file">Choose answer sheet pdf file</label>
                    </div>
                    <button type="select" class="btn btn-primary w-100">Submit</button>
                </div>
            </div>
        </div>
        {% if question and answer %}
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title pl-4">{{question.question_text}}</h4>
                </div>
                <div class="card-body container-fluid pl-5">
                    <div class="row">
                        <div class="col-lg-5">
                            <h4>Your Answer</h4>
                            {{answer.answer_text}}
                        </div>
                        <div class="col-lg-5">
                            <h4>Correct Answer</h4>
                            {{question.correct_answer_text}}
                        </div>
                        <div class="col-lg-2">
                            <h4>Marks</h4>
                            <h5>{{answer.scored_marks}}/{{question.marks}}</h5>
                            <div id='chart1' style='width:100%'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</form>
{% endblock %}

{% block extrajs %}

<script src="https://cdn.jsdelivr.net/npm/apexcharts"> </script>
<script type='text/javascript'>
    var options1 = {
        chart: {
            height: 250,
            type: 'radialBar',
        },
        colors:['#FD7E14'],
        plotOptions: {
            radialBar: {
                hollow: {
                    size: '70%',
                }
            },
        },
        series: [100*{{answer.scored_marks}}/{{question.marks}}],
        labels: ['TOTAL SCORE'],

    }

    var chart1 = new ApexCharts(
        document.querySelector("#chart1"),
        options1
    );
    chart1.render();
</script>

{% endblock %}