{% extends 'Main/mainbase.html' %}

{% load static %}

{% block title %}Get Paper Solution{% endblock %}

{% block body %}

<form method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                <h5 class="card-category">Get Paper Solution</h5>
                <h4 class="card-title">Select Question Paper</h4>
                <div class="dropdown">
                    <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret">
                    <i class="fas fa-feather"></i>
                    </button>
                </div>
                </div>
                <div class="card-body">
                    <select class="custom-select" id="question-paper" name="question_paper">
                        {% for qp in papers %}
                            <option value="{{qp.id}}">{{qp.description}}</option>
                        {% endfor %}
                    </select>
                    <button type="select" class="btn btn-primary w-100">Submit</button>
                </div>
            </div>
        </div>
        {% if paper_solution %}
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Solution</h4>
                    <div class="card-body">
                        {{paper_solution}}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</form>

{% endblock %}