[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pillow = "*"
pytesseract = "*"
pdf2image = "*"
rake-nltk = "*"
nltk = "*"
pypdf2 = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
django = "*"
numpy = "*"
pandas = "*"
sklearn = "*"
networkx = "*"

[requires]
python_version = "3.7"
